<?xml version="1.0"?>
<launch>

  <arg name="enable_viz" default="false" />

  <node pkg="target_localization" type="pcl_clustering_node" name="pcl_clustering_node" output="screen">
    <rosparam command="load" file="$(find target_localization)/config/target.yaml"/>  
  </node>

  <group if="$(arg enable_viz)">
      <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find target_localization)/rviz/target_localization.rviz" required="true" /> -->
  </group>

</launch>
