<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager_passthrough_x" args="manager" output="screen" />

  <!-- Run a passthrough filter to clean NaNs -->
  <node pkg="nodelet" type="nodelet" name="passthrough_x" args="load pcl/PassThrough pcl_manager_passthrough_x" output="screen">
    <remap from="~input" to="/merged_cloud" />
    <remap from="~output" to="/filtered_cloud_x" />
    <rosparam>
      filter_field_name: x
      filter_limit_min: -3.0
      filter_limit_max: 6.0
      filter_limit_negative: False
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="pcl_manager_passthrough_y" args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="passthrough_y" args="load pcl/PassThrough pcl_manager_passthrough_y" output="screen">
    <remap from="~input" to="/filtered_cloud_x" />
    <remap from="~output" to="/target_localization_node/filtered_docking_cloud" />
    <rosparam>
      filter_field_name: y
      filter_limit_min: -3.0
      filter_limit_max: 3.0
      filter_limit_negative: False
    </rosparam>
  </node>

</launch>